@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-weight: 700 !important;
}

.gradient_text {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_gradient {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
}

.text_gradient {
  color: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
}

.btn_border {
  border-image: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  border-width: 4px;
  border-style: solid;
}

.gradient_border {
  border-radius: 35px;
  border: solid 2px transparent;
  @apply bg-light-border-image dark:bg-border-image;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gradient_line {
  background-image: linear-gradient(to right, #73e0a9, #5b68df);
  height: 1px;
}

.text-truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}
